{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="col blog-header">
        <div class="row">
        {% for post in posts %}
            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
                <div class="card h-100 border-0">
                    <div class="card-body pb-0">
                        <h2 class="mb-0">{{ post.title }}</h2>
                    </div>
                    <div class="card-footer bg-white pt-0 border-0 text-left">
                        <div class="row">
                            <div class="col">
                                <p class="lead mb-0 text-left font-weight-bold">{{ post.overview }}</p>

                                <p class="small mt-1 mb-0">
                                    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="img-fluid rounded">
                                </p>

                                {% if post.content|length > 50 %}
                                    <p>{{ post.content|truncatewords:50 }} <a href="#" class="read-more-link" data-toggle="modal"
                                                                            data-target="#readMoreModal{{ post.id }}">Read More</a></p>
                                {% else %}
                                    <p>{{ post.content }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="">Edit</a> |
                            <a class="text-danger" href="">Delete</a>
                        </small>
                    {% endif %}
                </div>
            </div>

            {% if post.content|length > 50 %}
                <!-- Read More Modal -->
                <div class="modal fade" id="readMoreModal{{ post.id }}" tabindex="-1" role="dialog"
                     aria-labelledby="readMoreModalLabel{{ post.id }}" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="readMoreModalLabel{{ post.id }}">{{ post.title }}</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                {{ post.content }}
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        </div>
    </div>
{% endblock %}