{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- Blog Posts Section -->
<div class="col blog-header">
    <div class="row">
        {% for post in posts %}
         <!-- Individual Blog Post Card -->
        <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3 mb-4">
            <div class="card h-100 border-0">
                <div class="card-body pb-0 text-center">
                    {% if post.featured %}
                    <p class="text-warning font-weight-bold">Featured Post</p>
                    {% endif %}
                    <h2 class="mb-0">{{ post.title }}</h2>
                    {{ post.slug }}
                </div>
                <div class="card-footer bg-white pt-0 border-0 text-left">
                    <div class="row">
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">{{ post.overview }}</p>

                            <p class="small mt-1 mb-0">
                                <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="img-fluid rounded">
                            </p>
                            
                            <!-- Post Content with Read More Link -->
                            {% if post.content|length > 50 %}
                            <p>{{ post.content|truncatewords:50 }} <a href="#" class="read-more-link"
                                    data-toggle="modal" data-target="#readMoreModal{{ post.id }}">Read More</a></p>
                            {% else %}
                            <p>{{ post.content | linebreaks }}</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <!-- Edit and Delete Links for Superuser -->
                {% if request.user.is_superuser %}
                <small class="ml-3">
                    <a href="{% url 'edit_blog' post.id %}">Edit</a>
                    <a class="text-danger" href="#" data-toggle="modal"
                        data-target="#deleteConfirmationModal{{ post.id }}">Delete</a>
                </small>
                {% endif %}
            </div>
        </div>

        <!-- Delete Confirmation Modal -->
        <div class="modal fade" id="deleteConfirmationModal{{ post.id }}" tabindex="-1" role="dialog"
            aria-labelledby="deleteConfirmationModal{{ post.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Confirm Deletion</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        Are you sure you want to delete this blog post?
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-outline-black rounded-0" data-dismiss="modal">Cancel</button>
                        <a href="{% url 'delete_post' post.id %}" class="btn btn-danger rounded-0">Delete</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- Read More Modal -->
        {% if post.content|length > 50 %}
        <div class="modal fade" id="readMoreModal{{ post.id }}" tabindex="-1" role="dialog"
            aria-labelledby="readMoreModalLabel{{ post.id }}" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header text-center">
                        <h5 class="modal-title" id="readMoreModalLabel{{ post.id }}">
                            {% if post.featured %}
                            <em class="text-warning font-weight-bold">Featured Post:</em>
                            {% endif %}
                            {{ post.title }}
                        </h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ post.content | linebreaks }}
                        {{post.author}}
                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        {% endfor %}
    </div>
</div>

<!-- Back to Top Button -->
<div class="btt-button shadow-sm rounded-0 border border-black">
    <a class="btt-link d-flex h-100">
        <i class="fas fa-arrow-up text-black mx-auto my-auto"></i>
    </a>	
</div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <!-- JavaScript to scroll to the top when Back to Top button is clicked -->
    <script>"text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
{% endblock %}